body{
}

.board{
    background-color: lightblue;
    border: solid 1px black;
    width: 60%;
    min-width: 100px;
    max-height: 550px;
    position: relative;
    left: 20%;
}

.spot{
    position: absolute;
    transition-property: top, left;
    -webkit-transition-property: top, left;

/*
    animation-iteration-count: 1;
    animation-direction: alternate;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
*/
}

@media screen and (orientation: landscape){
    .board{
        width: 70%;
        left: 15%;
    }
}

/*
@-webkit-keyframes swing0 {
    50%{
        -webkit-transform: translate(30px, 30px);
    }
}

@-webkit-keyframes swing1 {
    50%{
        -webkit-transform: translate(30px, -30px);
    }
}

@-webkit-keyframes swing2 {
    50%{
        -webkit-transform: translate(-30px, 30px);
    }
}

@-webkit-keyframes swing3 {
    50%{
        -webkit-transform: translate(-30px, -30px);
    }
}
*/
